*{
    margin: 0px;
    padding:0px;
}
.header{
    background:linear-gradient(#ff7675,#e17055);
    height: 550px;
    background-size: cover;
    
    

}


.mid{
    width:80%;
    
}

.header-left{
    width: 45%;
    float: left;
}
.header-right{
    width: 55%;
    float: left;
}

.header-left h1{
    text-align: center;
    font-size: 50px;
    font-family: tahoma;
    font-weight: bold;
    margin-top: 100px;
    
}
.header-left h2{
    text-align: center;
    font-size: 30px;
    font-family: tahoma;
    font-weight: bold;
    margin-top: 10px;
    
    color: blue;
}
.header-left h3{
    text-align: center;
    color: orange;
    font-size: 20px;
    font-family: tahoma;
    margin-top: 25px;

}

.header-left a{
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    background-color: peru;
    text-align: center;
    color: #ffffff;
    width: 60px;
    margin: auto;
    margin-top: 20px;
    border-radius: 2px;
}
.header-left a:hover{
    background-color: #fab1a0;
}
.header-right img{
    width: 500px;
    height: 400px;
    border-radius: 50%;
    margin-left: 300px;
    margin-top: 45px;

}

.mid-head{
    padding: 50px;
    height: 400px;
}

.mid-img{
    width: 40%;
    float: left;
}

.mid-left{
    width: 60%;
    float: left;
}

.mid-img img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: auto;
    display: block;
}

.mid-left h1{
    font-size: 25px;
    font-family: tahoma;
    font-weight: bold;text-align: center;
    
}




.mid-left h3{
    text-align: center;
    color: blue;
    margin-top: 20px;

}

.mid-left p{
    text-align: center;
    width: 105%;
    text-align: center;
    margin: auto;
    margin-top: 10px;

}

.mid-left a{
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    background-color: peru;
    text-align: center;
    color: #ffffff;
    width: 71px;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
}
.mid-left a:hover{
    background-color: #9b59b6;
}

.ses{
    padding: 20px;
}
.ses-1 h2{
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    padding: 10px 30px;
    background-color: chocolate;
    color: #ffffff;
    width: 30%;
    margin: auto;
      
}
.ses-1 h2:hover{
    background-color: #e74c3c;
}
.flex-1{
    display: flex;
    margin-top:50px;

}
.flex{
    display: flex;
    margin-top: 50px;
    box-sizing: border-box;
}

.pitar{
    width: 40%;
    margin-left: 90px;
    box-shadow: 5px 10px 8px 10px #888888;
    padding: 10px;
    border-left: 7px solid black;
   
    

}

.pitar h2{
    text-align: center;
    color: red;
    margin-top: 5px;
}
.pitar h3{
    text-align: center;
    color: gray;
    margin-top: 5px;
    
}
.pitar p{
    width: 100%;
    color: gray;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
}
.parker{
    width: 40%;
    margin-left: 90px;
    box-shadow: 5px 10px 8px 10px #888888;
    padding: 10px;
    border-left: 7px solid black;
}
.parker{
    width: 40%;
    margin-left: 90px;
    box-shadow: 5px 10px 8px 10px #888888;
    padding: 10px;
    border-left: 7px solid black;

}

.parker h2{
    text-align: center;
    color: red;
    margin-top: 5px;
}
.parker h3{
    text-align: center;
    color: gray;
    margin-top: 5px;
    
}
.parker p{
    width: 100%;
    color: gray;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
}

.fotter{
    padding: 20px;

}

.fotter p{
    text-align: center;
    color: gray;
}

